:root {
    --main-color: #ad1f1f;
    --main-color-faded: #f4d4d4;

    --alert-color: red;
    --alert-color-faded: #ffe5e5;

    --add-color: forestgreen;
    --display-color: royalblue;
}

/* ---- GENERAL ---- */
button {
    position: relative;
    padding: 4px 12px;
    color: white;
    background: var(--main-color);
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
button:hover {
    border-color: brown;
}

button.withTag {
    padding: 8px 20px 8px 36px;
}

button.withTag:before {
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 16px;
    top: 8px;
    left: 10px;
    border-radius: 50%;
}

body {
    font-family: sans-serif;
    margin: 0;
}

/* ---- MAIN ---- */
main {
    margin: 10px 12vw;
    padding: 1vw 2vw 2vw 2vw;
    background: #ededed;
    border: 1px solid lightgray;
}

/* ---- HEADER ---- */

header {
    display: flex;
    flex-direction: column;
    color: white;
}

h1 {
    display: block;
    text-align: center;
    background: var(--main-color);
    margin: 0;
    padding: 20px 0;
}

h2 {
     margin: 10px 0 10px 0;
 }

.menu {
    position: relative;
    background: var(--main-color-faded);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu form {
    margin: 10px 0;
}

.menu .addActions, .menu .displayActions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 1vw;
}

.menu button {
    color: white;
    background: var(--main-color);
    padding: 8px 20px 8px 36px;
    margin: 0 20px;
    line-height: 16px;
}

.menu .displayActions button:before {
    content: "=";
    background: var(--display-color);
}

.menu .addActions button:before {
    content: "+";
    background: var(--add-color);
}

/* ---- ERRORS ---- */

.error-message p:before {
    content:"ERREUR : ";
}

.error-message {
    background: var(--alert-color-faded);
    color: red;
    border: 1px solid var(--alert-color);
    margin: 12px 12vw;
    padding: 0 4vw;
}

/* ---- TABLE ---- */
table {
    width: 100%;
    border: 1px solid var(--main-color);
}

thead {
    background: var(--main-color-faded);
}

th {
    padding: 8px 4px;
}

td {
    text-align: center;
    padding: 8px 4px;
    color: var(--main-color);
    background: white;
}

td.contain-button {
    border-width: 0 0 1px 0;
}

table form {
    margin: 0;
}

table button {
    white-space: nowrap;
    margin: 0 5px;
}



/* ---- FORM ---- */