:root {
    --main-hue: 215deg;
    --main-color-darker: hsl(var(--main-hue)  40% 35%);
    --main-color-faded: hsl(var(--main-hue)  54% 87%);
    --main-color: hsl(var(--main-hue) 53% 58%);
    /*--main-color-faded: hsla(var(--main-HSL-code) / 0.3);*/

    --alert-color: red;
    --alert-color-faded: #ffe5e5;

    --add-color: forestgreen;
    --display-color: royalblue;

    --side-margin: 8vw;
}

/* ---- GENERAL ---- */
button {
    position: relative;
    padding: 4px 12px;
    color: white;
    background: var(--main-color);
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    letter-spacing: 0.2px;
}
button:hover {
    box-shadow: 1px 1px 6px -2px black;
}
button.withTag {
    padding: 8px 20px 8px 36px;
}

button.withTag:before {
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 16px;
    top: 8px;
    left: 10px;
    border-radius: 50%;
}

body {
    font-family: sans-serif;
    margin: 0;
}

/* ---- MAIN ---- */
main {
    margin: 2vh var(--side-margin);
    padding: 1vw 2vw 2vw 2vw;
    background: #f5f5f5;
    border: 1px solid lightgray;
    overflow: auto;
}

h2 {
    color: black;
    margin: 16px 0;
}
h3 {
    margin: 16px 0 6px 0;
}

/* ---- HEADER ---- */

header {
    display: flex;
    flex-direction: column;
    color: white;
}

h1 {
    display: block;
    text-align: center;
    background: var(--main-color-darker);
    margin: 0;
    padding: 20px 0;
}

.log {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    background: var(--main-color-faded);
}

.menu form {
    margin: 10px 0;
}

.menu .addActions, .menu .displayActions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 1vw;
}

.menu button {
    color: white;
    background: var(--main-color);
    padding: 8px 20px 8px 36px;
    margin: 0 20px;
    line-height: 16px;
}

.menu .displayActions button:before {
    content: "=";
    background: var(--display-color);
}

.menu .addActions button:before {
    content: "+";
    background: var(--add-color);
}

/* ---- ERRORS ---- */
.error-message p:before {
    content:"ERREUR : ";
}

.error-message {
    background: var(--alert-color-faded);
    color: red;
    border: 1px solid var(--alert-color);
    margin: 12px var(--side-margin);
    padding: 0 4vw;
}

/* ---- TABLE ---- */
table {
    border-collapse: collapse;
    width: 100%;
    background: white;
    border: 1px solid var(--main-color);
}

thead {
    background: var(--main-color-faded);
}

th {
    padding: 8px 4px;
}

td {
    text-align: center;
    padding: 8px 6px;
    color: var(--main-color-darker);
    background: white;
    border-bottom: 1px solid var(--main-color-faded);
}

tr:last-of-type td {
    border-bottom: 1px solid var(--main-color);
}

table form {
    margin: 0;
}

table button {
    white-space: nowrap;
    margin: 0 5px;
}

/* ---- FORM ---- */

.addForm {
    display: flex;
    flex-direction: row;
    margin-left: 4vw;
}

.formLabels, .formInputs {
    display: flex;
    flex-direction: column;
    padding: 8px 32px 8px 16px;
}

/*TODO : improve*/
.formLabels label, .formInputs input {
    height: 26px;
    margin: 4px 8px 4px 0;
}

.addForm button {
    align-self: center;
    padding: 6px 12px;
}

/* ---- OTHERS ---- */
